$primary: #AA0601;
$secondary: #650300;
$color-gray: #FBF2F2;
$color-dark-gray: #707070;
$font-notoSans: 'Noto Sans TC', sans-serif;
$font-roboto: "Roboto", sans-serif;
// $font-size: 16px;
// $font-weight:400;