.nav{
    &__item--lg{
      margin-left: 32px;
      margin-right: 32px;
      padding-top: 25px;
      padding-bottom: 25px;
      &:nth-child(4){
        margin-right: 0;
      }
    }
    &__link--lg{
      font-size: 20px;
    }
    
    &__item--sm{
      margin-left: 24px;
      margin-right: 24px;
      &:nth-child(1){
        margin-left: 0;
      }
    }
    &__link--sm{
      font-size: 16px;
    }
  }