.header {
  &__content{
    @include phone{
      padding-right: 15px;
      padding-left: 15px;
    }
  }
  &__icon{
    width: 80px;
  }
  &__menu__link{
    width: 40px;
    height: 40px;
  }
  &__nav{
    display: flex;
    align-items: center;
    @include phone{
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  &__hamburger{
    &__item__link{
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
}

.footer{
  padding-top: 48px;
  padding-bottom: 32px;
  @include pad{
    padding-bottom: 40px;
  }
  @include phone{
    padding-top: 24px;
    padding-bottom: 24px;
  }
  &__nav{
    padding-bottom: 24px;
    @include phone{
      padding-bottom: 0;
    }
    &__item{
      margin-left: 16px;
      margin-right: 16px;
      @include pad{
        margin-left: 8px;
        margin-right: 8px;
      }
      &:nth-child(3){
        margin-right: 0;
      }
    }
    &__link{
      width: 48px;
      height: 48px;
      @include pad{
        width: 40px;
        height: 40px;
      }
      @include phone{
        width: 24px;
        height: 24px;
      }
    }
  }
  &__address{
    @include phone{
      order: -1;
    }
  }
  &__list{
    @include phone{
      position: absolute;
      top: 0;
      right: 12px;
    }
  }
  &__others__copyright{
    line-height: 21px;
    @include roboto(16px,400);
    @include phone{
      line-height: 24px;
      margin-bottom: 8px;
    }
  }
  & .address{
    margin-bottom: 32px;
    @include phone{
      margin-bottom: 16px;
    }
    &__item{
      &:nth-child(1){
        margin-bottom: 8px;
      }
      &__icon{
        width: 48px;
        height: 48px;
        margin-right: 16px;
        @include phone{
          width: 24px;
          height: 24px;
          margin-right: 8px;
        }
      }
      &__link{
        font-size: 36px;
        @include phone{
          font-size: 16px;
        }
      }
    }
    &::after{
      display: block;
      content: "";
      width: 100%;
      height: 1px;
      background: white;
      margin-top: 32px;
      @include phone{
        margin-top: 24px;
      }
    }
  }
  & .terms{
    &__item{
      font-size: 14px;
      margin-left: 24px;
      margin-right: 24px;
      @include phone{
        font-size: 16px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 8px;
        &:nth-child(2){
          margin-bottom: 0;
        }
      }
      &:nth-child(2){
        margin-right: 0;
      }
    }
  }
}



