.banner{
    height: calc(100vh - 80px);
    background-image: url(../images/home-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    @include pad{
        background-image: url(../images/home-header-sm.png);
        height: 787px;
    }
    @include phone{
        background-position: center center;
        height: 396px;
    }
    &__content{
        position: relative;
        top: -10px;
    }
    &__title{
        font-size: 64px;
        font-weight: bold;
        margin-bottom: 4px;
        @include phone{
            font-size: 24px;
            margin-bottom: 8px;
        }
    }
    &__sub{
        font-size: 36px;
        font-weight: 400;
        @include phone{
            font-size: 16px;
        }
    }
}

.feature{
    padding-top: 80px;
    padding-bottom: 80px;
    @include phone{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    &__title{
        font-size: 48px;
        font-weight: bold;
        margin-bottom: 24px;
        @include phone{
            font-size: 24px;
        }
    }
    &__list{
        margin-left: -12px;
        margin-right: -12px;
        @include pad{
            gap:24px 0;
        }
    }
    &__item{
        &__icon{
            width: 100px;
            height: 100px;
            margin-bottom: 16px;
        }
        &__title{
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 8px;
        }
        &__content{
            margin-right: 12px;
            margin-left: 12px;
        }
    }
}

.series{
    padding-top: 80px;
    padding-bottom: 80px;
    @include phone{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    &__title{
        font-size: 48px;
        margin-bottom: 48px;
        font-weight: bold;
        @include phone{
            font-size: 24px;
            margin-bottom: 24px;
        }
    }
    &__list{
        gap: 24px;
    }
    &__item{
        &__img{
            margin-bottom: 8px;
        }
        &__content{
            @include roboto(48px,900);
            font-style: italic;
        } 
    }
}

.frame{
    background-image: url(../images/index-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 80px;
    @include pad{
        background-image: url(../images/index-bg-sm.png);
    }
    @include phone{
        padding-top: 40px;
        padding-bottom: 40px;
        background-image: url(../images/index-bg-md.png);
        background-position: center center;
    }
    &__title{
        font-size: 48px;
        font-weight: bold;
        margin-bottom: 48px;
        @include phone{
            font-size: 24px;
            margin-bottom: 24px;
        }
    }
    &__list{
        @include pad{
            gap: 24px 0;
        }
        & li:nth-child(1) img{
            @include phone{
                content: url(../images/home-section4-1-sm.png);
            }
        }
        & li:nth-child(2) img{
            @include phone{
                content: url(../images/home-section4-2-sm.png);
            }
        }
    }
    &__item{
        &__img{
            height: 240px;
        }
        &__content{
            padding-top: 8px;
            padding-bottom: 8px;
            @include roboto(48px,900);
            font-style: italic;
        }
    }
}

.recommend{
    padding-top: 80px;
    padding-bottom: 80px;
    @include phone{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    &__title{
        font-size: 48px;
        margin-bottom: 48px;
        font-weight: bold;
        @include phone{
            font-size: 24px;
            margin-bottom: 24px;
        }
    }
    &__list{
        gap: 24px 0;
        margin-right: -12px;
        margin-left: -12px;
        @include phone{
            gap: 16px 0;
        }
    }
    & .card{
        margin-right: 12px;
        margin-left: 12px;
        &__img{
            object-fit: cover;
            width: 100%;
            height: 306px;
        }
    }
}

.contact{
    padding-top: 80px;
    padding-bottom: 80px;
    @include phone{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    &__title{
        font-size: 48px;
        font-weight: bold;
        margin-bottom: 48px;
        @include pad{
            margin-bottom: 24px;
        }
        @include phone{
            font-size: 24px;
        }
    }
    &__content{
        font-size: 20px;
        margin-bottom: 24px;
        @include pad{
            font-size: 16px;
        }
    }
    &__label{
        margin-bottom: 8px;
    }
    &__input{
        padding: 6px 12px;
        margin-bottom: 16px;
        border: 1px solid #000;
        &[type="name"]{
            height: 36px;
        }
        &[type="tel"],&[type="email"]{
            height: 33px;
        }
    }
    &__textarea{
        resize: none;
        height: 136px;
    }
    &__checkbox{
        margin-bottom: 48px;
        @include phone{
            margin-bottom: 24px;
        }
        &__label{
            @include phone{
                margin-top: -24px;
                margin-left: 28px;
            }
        }
    }
    &__submit{
        cursor: pointer;
        font-size: 16px;
        line-height: 24px;
        font-weight: bold;
        padding: 16px 176px;
        @include pad{
            padding: 16px 136px;
        }
        @include phone{
            padding: 16px 142px;
        }
        &:hover{
            background: $secondary;
        }
    }
}

.aos-item{
    cursor: pointer;
    position: fixed;
    top: 8%;
    z-index: 1;
    right: 5%;
    width: 200px;
    padding: 8px 12px;
    & span{
        cursor: pointer;
        vertical-align: bottom;
    }
    & .btn {
        cursor: pointer;
        font-size: 16px;
        margin-top: 0.5rem;
        padding: 0;
        margin-left: 16px;
        margin-right: 16px;
    }
}

[data-aos="out"] {
visibility: visible;
opacity: 1;
transition-property: opacity;
    &.aos-animate {
        opacity: 0;
    }
}