@mixin pad{
    @media (max-width: 991px) {
        @content;
    }
}

@mixin phone{
    @media (max-width: 767px) {
        @content;
    }
}

@mixin filter-brightness{
    filter:brightness(0.8);
}

@mixin roboto($font-size, $font-weight) {
    font-family: $font-roboto;
    font-weight: $font-weight;
    font-size: $font-size;
}
